@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Lato';
  font-size: 16px;
  background: #eee;
  color: $black70;
}

h2 {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 40px;
  font-size: 3rem;
  color: $black80;
  text-align: left;
  letter-spacing: 1rem;
  overflow: hidden;
}

h3 {
  margin: 0 0 20px;
}

p {
  font-size: 24px;
  line-height: 1.4;
  max-width: 640px;
  font-weight: 300;

}

section {
  position: relative;
  display: block;
  margin: 0;
  padding: 80px 0 0;
  width: 100%;
  clear: both;
  overflow: hidden;

  &.green {
    background: -webkit-linear-gradient($pink, $green 20%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($pink, $green 20%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($pink, $green 20%); /* For Firefox 3.6 to 15 */
    background: linear-gradient($pink, $green 20%); /* Standard syntax */   
    // background: $green;
  }
  &.blue {
    background: -webkit-linear-gradient($green, $blue 20%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($green, $blue 20%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($green, $blue 20%); /* For Firefox 3.6 to 15 */
    background: linear-gradient($green, $blue 20%); /* Standard syntax */
    // background: $blue;

  }
  &.pink {
    background: -webkit-linear-gradient($yellow, $pink 20%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($yellow, $pink 20%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($yellow, $pink 20%); /* For Firefox 3.6 to 15 */
    background: linear-gradient($yellow, $pink 20%); /* Standard syntax */
    // background: $pink;
  }
  &.yellow {
    background: -webkit-linear-gradient($blue, $yellow 20%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($blue, $yellow 20%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($blue, $yellow 20%); /* For Firefox 3.6 to 15 */
    background: linear-gradient($blue, $yellow 20%); /* Standard syntax */
    // background: $yellow;
  }
}
.content {
  position: relative;
  max-width: 1060px;
  margin: 0 auto;
  padding: 40px;
  overflow: hidden;

  @media screen and (max-width: 460px) {
    padding: 20px;
  }
}
.bling {
  position: relative;
  display: inline-block;
  padding: 20px;
  float: right;
  max-width: 100%;
  height: auto;
  text-align: center;

  @media screen and (max-width: 460px) {
    width: 76%;
    margin: 0 auto;
    padding: 20px 0;
    display: block;
    float: none;
    clear: both;
  }
}

.bling img {
  max-width: 100%;
  height: auto;
}

.fence {
  position: relative;
  width: 100%;
  height: 100px;
  background: url(../images/fence.svg) repeat-x;
  background-size: auto 100%;
  background-position: center center;
}

@media screen and (max-width: 460px) {
  h2 { text-align: center; }
  .bling {
    width: 76%;
    margin: 0 auto;
    padding: 20px 0;
    display: block;
    float: none;
    clear: both;
  }
}

@media screen and (max-width: 320px) {
  nav a { padding: 20px 5px; }
  header { text-align: center; }
  header img { margin: 0 0 -3px 0; }
}