


// A B O U T

section#about.yellow
  .fence
  h2 ABOUT ME
  .content
    p
      | I am self-taught.<br>
      | My love for creating websites began about ten years ago. 
      | I played in a couple different bands at the time, both of which were in need of online credibility... and so began my journey. 
      | I was driven to learn on my own, and still am today- probably more so than ever. For me, creating interactive designs is hugely rewarding. 
      | I find problem solving fun. Developing presentations of brand and formatting abstract structures in which those presentations can live is really cool to me.  
      | My goal is always to build the flexibility necessary on the back-end and deliver a beautiful, fun experience on the front.<br><br>

      | A quick rundown of my skillset includes... HTML5, CSS3, Sass, JavaScript, jQuery, php, Wordpress, Photoshop, &amp; Illustrator. However, I'd rather not limit myself to these technologies. 
      | I'm capable of learning whatever is necessary to solve a given problem.

      | I am largely self-driven and very committed to becoming a great developer. I love to collaborate, I'm slightly obsessed with details, and I'm looking to push my skillset and grow.<br><br>
      | You can contact me below. I'd love to hear from you.