


// A B O U T 

section#about.yellow
  .fence
  h2 ABOUT_ME
  .content
    section.left
      p
        | <strong>I am self taught.</strong><br>
        | I actually started learning web development about ten years ago. Playing in a couple different bands at the time, I had to learn how to give us an online home. I think this is a common scenario for a lot of self-taught devs. I realized that I enjoyed the process of bringing a website to life as much as I enjoyed the music I was playing. I spent a few years creating and maintaining various iterations of sites for those bands. When the music ended, unfortunately so did the web development. Life required I maintain employment in another field along the way, and I continued down that professional path for several more years. About six months ago I realized what I really wanted to do was get back to creating websites. So I quit my job and have immersed myself in learning all that I missed out on in the time I was away from coding. No doubt I have expanded my knowledge base, but I still have a way to go before I am satisfied with my abilities.
    
    section.right
      h4 My current toolbox includes
      p
        ul
          li HTML5
          li CSS3 / Sass / Stylus
          li JavaScript / jQuery / Angular
          li Node / Express
          li Gulp / Grunt
          li php / Wordpress
          li Photoshop / Illustrator

    p
      | I prefer not to limit myself to these technologies. 
      | I love learning whatever is necessary to solve a given problem.
      | I am largely self-driven and very committed to becoming a great developer. I love to collaborate, I'm slightly obsessed with details, and I'm looking to push my skillset and grow.<br><br>
      | Feel free to contact me below. I'd love to hear from you.