


//- A B O U T 

section#about.about
  .content
    h2.color-blue.border-red ABOUT ME
    section.left
      h3 I am self taught...
      p
        | I started learning how to build websites about ten years ago. 
        | The majority of my work has been small sites for family, friends, and bands that I've played in.
        | I spent several years creating and maintaining iterations of sites for various folks, but ultimately did not pursue this as a career.
        | Over the years, it's been clear to me that bringing design to life, the process of problem solving in general, and learning to code can be a very satisfying experience. 
        | The main reason I never went after a career in web development is because I chose to pursue other passions.  
        | A year or so ago, I realized that I wasn't happy with that decision. 
        | So I stepped down from my position at work and began to immerse myself in all things web. 
        | If you'd like to know more about why <a href="http://blog.iamnathanj.com/code/2015/07/21/my-backstory">read this</a>.
      p
        | Currently, I am taking freelance work and looking for my first paid developer position with a company. If you're interested in talking with me about work, please contact me below. Thanks. 
    
    section.right
      p
        h3 Current Skills
        ul
          li HTML
          li CSS / Sass / Stylus
          li JavaScript / jQuery
          li Node / Express
          li Gulp / Grunt
          li php / Wordpress
          li Photoshop / Illustrator
          
      p
        h3 Interests &amp; Focus
        ul
          li UX / UI
          li Accessibility
          li Performance
          li Functional Programming

    //- section.full
    //-   p
    //-     | I prefer not to limit myself to the technologies listed above. 
    //-     | I love learning whatever is necessary to solve a given problem.
    //-     | I am largely self-driven and very committed to becoming a great developer. I love to collaborate, I'm slightly obsessed with details, and I'm looking to push my skillset and grow.<br><br>
    //-     | Feel free to contact me below. I'd love to hear from you.
