

//- C O N T A C T 

section#contact.contact
  .fence
  .content
    h2.color-blue.border-red CONTACT

    .form-container
      #form-messages.form-messages
      form#contact-form(action="mail" data-href="#contact" novalidate)
        .row
          label(for="name") Name
          input#name(type="text" name="name" placeholder="*Name")
          label(for="email") Email
          input#email(type="email" name="email" placeholder="*Email")
        .row
          label(for="message") Message
          textarea#message(name="message" placeholder="*What's Up?" rows="1" cols="1")
          br
        .row
          button#mail-button
            img(alt="mail me" src="images/send4.svg" width="20" height="20")
            | SEND
