

//- H E A D E R 

header#home(role="banner")
  .content
    .header-container
      .logo
        img(src="images/logo.svg" alt="code &amp; design logo" width="200" height="200")
      h1 Nathan Jacobs 
        small Actual Web Developer
