header#header
  .header-overlay
  .header-parallax
    .header-parallax-content
      h1 Nathan Jacobs
        small Burgeoning Web Dev
      .logo
        .logo-inner
          img.one(src="images/code.png")
          img.two(src="images/code.png")
          img.three(src="images/code.png")
          img.four(src="images/code.png")
          img.five(src="images/code.png")
          img.six(src="images/code.png")
