


//- H E A D E R 

header#home(role="banner")
  .content
    .header-container
      h1 Nathan Jacobs 
        small Burgeoning Web Dev
      .logo
        img(src="images/logo.svg" alt="code &amp; design logo" width="200" height="200")
      p
        | Working toward a career in front-end development.
        | The purpose of this website is to show &amp; tell stuff that excites me as I grow and learn on my personal journey through web development.
