


// H E A D E R 

header#header
  .header-overlay
  .header-parallax
    .header-parallax-content
      h1 Nathan Jacobs
        small Burgeoning Web Dev
      .logo
        .logo-inner
          img(src="images/code.png")
