


//- H E A D E R 

header#home(role="banner")
  .content
    .header-container
      h1 Nathan Jacobs 
        small Burgeoning Web Dev
      .logo
        img(src="images/logo.svg" alt="code &amp; design logo" width="200" height="200")
      p
        | Welcome to my portfolio and my show &amp; tell platform. I'm working toward a career in front-end development.
        | The purpose of this website is to catalyze my growth in areas that interest me and, ultimately, secure employment.  
