


// W E L C O M E

section#home.blue
  h2 WELCOME
  .content
    p
      | My name is Nathan Jacobs. This is the hub of my design, code, and learn happenings.
      | Currently I am working toward a career in front-end development.
      | The purpose of this website is to show &amp; tell web stuffs that excite me as I grow and learn in my quest to become a professional.