doctype html
html.no-js
  head
    meta(charset="utf-8")
    title #{title}
    meta(name="description" content="The humble beginnings of a burgeoning web dev.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="styles/style.css" type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Lato:100,300,700" rel="stylesheet" type="text/css")
  
  body
    script
      | document.body.style.opacity = 0;
    
    include nav.jade
    include header.jade
    include home.jade
    include about.jade
    include things.jade
    include contact.jade
    include footer.jade

    //- block content

    script(src="scripts/vendor/jquery.min.js")
    script(src="scripts/main.min.js")
    //- script(src="http://iamnathanj.disqus.com/embed.js")    
    //- script(src="scripts/jquery.fittext.js")
