


// T H I N G S 

section#things.pink
  .fence
  h2 THINGS
  .content

    // Project 1 
    .project(data-title="Metro Cuisine" data-link="http://metrocuisine.com" data-json-images="partials/metro.json")
      .thumb
        img.browser-bar(src="images/browser-bar.svg" alt="browser")
        img.screenshot(src="images/ss-large-metro1.jpg" alt="Metro Cuisine")
        .centered
          span.hover-card
        .centered
          img.project-thumb-hover(src="images/eye.svg" alt="view project")
        .hit-area

    svg.project-arrow(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215.7 169.6" enable-background="new 0 0 215.7 169.6" xml:space="preserve")
      polygon(points="131,169.6 131,138 0,138 0,32 131,32 131,0.2 215.7,84.9")

    // Project View
    .project-view

      .project-header
        .project-info
          h3 Metro Cuisine
        .close-button
          img(src="images/x.svg" alt="close")

      .project-body
        .arrow-button.left ‹ 
        .img-container
        .arrow-button.right › 

    // Disqus
    #disqus_thread 
