.form-container
  position relative
  margin 0
  padding 5%
  width 100%
  background black10
  overflow hidden

  .row
    display flex
    flex-flow row wrap
    justify-content space-between
    align-items stretch
    align-content space-between
    max-width 100%

  label
    position absolute
    top -9999px
    left -9999px
    visibility hidden

  input,
  textarea

    &::-webkit-input-placeholder
      color black50

    &:-moz-placeholder
      color black50

    &::-moz-placeholder
      color black50

    &:-ms-input-placeholder
     color black50

  button,
  textarea,
  input
    appearance none
    flex-grow 1
    flex-shrink 1
    flex-basis 230px
    font-family 'Lato'
    font-size 1.2rem
    font-weight 300
    letter-spacing -0.05rem
    margin 5px
    padding 16px
    outline 0
    border 1px solid white40
    border-radius 0
    background white40

    &:focus
      background white60

  textarea
    height 200px

  button
    @extend .noselect
    font-size 1.5rem
    font-weight 300
    text-align center
    letter-spacing 1.2rem
    cursor pointer

    &:hover
      background white60

    img
      display inline
      max-width 20px
      height auto
      margin 0 10px

  p
    font-size 1.2rem
    text-align left
    margin 0 5px 10px
