#things,
#about
  section
    display inline-block
    clear none
    float left
    padding 0
    @extend .cf

    &.left
      width 67%
      margin-right 5%

    &.right
      width 28%
      padding-left 20px
      border-left 1px solid white50

    @media screen and (max-width 640px)
      display block
      float none
      clear both
      min-width 100%

      &.right
        padding 0
        border 0

a.portfolio-link

  &,
  &:visited
    color white90

  &:hover,
  &:active,
  &:focus
    color darkblue

a.resource-link

  &,
  &:visited
    color darkblue

  &:hover,
  &:active,
  &:focus
    color darkred
