#things,
#about
  section
    display inline-block
    clear none
    float left
    padding 0
    @extend .cf

    &.left
      width 67%
      margin-right 5%

    &.right
      width 28%
      padding-left 20px
      border-left 1px solid white50

    @media screen and (max-width 640px)
      display block
      float none
      clear both
      min-width 100%

      &.right
        padding 0
        border 0

a.portfolio-link

  &,
  &:visited
    color darkblue

  &:hover,
  &:active,
  &:focus
    color darkblue

a.resource-link

  &,
  &:visited
    color darkblue

  &:hover,
  &:active,
  &:focus
    color darkred

.panel
  padding 20px
  border-radius 6px 0 0 6px
  border-left 2px solid white90

  &.blue
    background linear-gradient(90deg, panelBlueLight 50%, transparent)

  h3
    position relative
    color red

    &:before
      content ""
      position absolute
      top 50%
      left 0
      border-top 2px solid black10
      width 100%
      height 1px
      z-index 0

    span
      position relative
      padding-right 10px
      background panelBlueLight
      z-index 1

  p
    line-height 1
