// @import url('http://fonts.googleapis.com/css?family=Lato:100,300,700')

*,
*:before,
*:after
  box-sizing border-box
  margin 0
  padding 0

html,
body
  height 100%

body
  position relative
  margin 0
  font-family 'lato', helvetica, sans-serif
  font-size 16px
  background #eee
  color black70

h2
  max-width contentWidth
  margin 0 auto 20px
  padding-bottom 10px
  font-size 3rem
  text-align left
  overflow hidden
  opacity 0
  will-change transform
  transform translateX(-20px)
  transition opacity .2s ease-out, transform .2s ease-out

  &.color-dark
    color black80
  &.color-light
    color #efefef
  &.color-red
    color red
  &.color-blue
    color darkblue
  &.border-dark
    border-bottom 2px solid black80
  &.border-light
    border-bottom 2px solid #efefef
  &.border-blue
    border-bottom 2px solid darkblue
  &.border-red
    border-bottom 2px solid red

  &.active
    opacity 1
    transform translateX(0)


  small
    display block
    font-size 1.3rem
    font-weight 300
    color white80
    text-transform uppercase
    letter-spacing 0

h3
  margin 0 0 10px

a
  text-decoration none
  color: black70

p
  margin 0 0 20px
  font-size 20px
  line-height 1.6
  font-weight 300

  @media screen and (max-width 640px)
    width 100%

  img
    position absolute
    top 0
    left 0
    padding 20px
    margin 0
    width 100%
    height 100%
    background white80
    border 1px dashed black40
    backface-visibility hidden
    transition transform .4s ease-out

  @media screen and (max-width 768px)
    right 0
    // top 140px
    position relative
    margin 0 auto 20px

section
  position relative
  display block
  margin 0
  padding 80px 0 0
  width 100%
  clear both
  overflow hidden
  z-index 1

  &.contact
    background linear-gradient(blue, #efefef)
    padding-bottom 40px
  &.things
    background linear-gradient(#efefef, blueSolid 20%)
  &.about
    background #efefef
    box-shadow 0 -10px 10px -8px #333

  ul
    margin-left 20px

.content
  position relative
  max-width contentWidth
  margin 0 auto
  padding 0 40px
  overflow hidden

  @media screen and (max-width 460px)
    padding 20px

  a
    color white90
    &:visited color white90
    &:hover,
    &:focus,
    &:active
      color red


.fence
  position relative
  width 100%
  height 100px
  background url(../images/fence.svg) repeat-x
  background-size auto 100%
  background-position center center

  @media all and (max-height 568px)
    margin-bottom -50px

@media screen and (max-width 320px)
  nav a
    padding 20px 5px
