red = rgba(201, 68, 91, 0.6)
darkred = rgba(201, 68, 91, 0.9)
redSolid = #853D4F
green = rgba(28, 176, 60, 0.2)
blue = rgba(28, 127, 176, 0.2)
darkblue = rgba(28, 127, 176, 0.6)
blueSolid = #C4D7E1
panelBlueLight = rgb(225, 235, 240)
yellow = rgba(201, 184, 68, 0.2)
yellowSolid = #E6E3CC
pink = rgba(201, 68, 197, 0.2)

white05 = rgba(#fff, 0.05)
white10 = rgba(#fff, 0.1)
white20 = rgba(#fff, 0.2)
white30 = rgba(#fff, 0.3)
white40 = rgba(#fff, 0.4)
white50 = rgba(#fff, 0.5)
white60 = rgba(#fff, 0.6)
white70 = rgba(#fff, 0.7)
white80 = rgba(#fff, 0.8)
white90 = rgba(#fff, 0.9)
white95 = rgba(#fff, 0.95)

black05 = rgba(#000, 0.05)
black10 = rgba(#000, 0.1)
black20 = rgba(#000, 0.2)
black30 = rgba(#000, 0.3)
black40 = rgba(#000, 0.4)
black50 = rgba(#000, 0.5)
black60 = rgba(#000, 0.6)
black70 = rgba(#000, 0.7)
black80 = rgba(#000, 0.8)
black90 = rgba(#000, 0.9)
black92 = rgba(#000, 0.92)

lightBlack = #333
lightBlack80 = rgba(lightBlack, 0.8)
lightBlack90 = rgba(lightBlack, 0.9)
lightBlack95 = rgba(lightBlack, 0.95)

contentWidth = 880px

baseFontWeight = 300
heavyFontWeight = 700
