


// C O N T A C T

section#contact.green
  .fence
  h2 CONTACT
  .content

    .form-container
      #form-messages.form-messages
      form#contact-form(action="contact.php")
        .row
          input#name(type="text" name="name" placeholder="*Name")
          input#email(type="email" name="email" placeholder="*Email")
        .row
          textarea#message(name="message" placeholder="*What's Up?" rows="1" cols="1")
          br
        .row
          button#mail-button
            img(alt="mail me" src="images/send4.svg") SEND