nav#standard-nav
  .nav-inner
    a(href="#home") Home
    a(href="#about") About
    a(href="#things") Things
    a(href="#contact") Contact

nav#mobile-nav
  a(href="#home") Home
  a(href="#about") About
  a(href="#things") Things
  a(href="#contact") Contact
  a#menu(href="#") + Menu